body {
  background-color: #23022E;
  margin: 75px 150px 50px 150px;
}

h1 {
  font-weight: 400;
  color: #CFBCDF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2 {
  color: #CAB6CD;
   font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 2px; 
  grid-template-areas: 
    "Home Research Data Contact";
  width: 10%; 
  align-items: center;
  justify-items: center;
  margin: auto;
}
.Home { grid-area: Home; }
.Research { grid-area: Research; }
.Data { grid-area: Data; }
.Contact { grid-area: Contact; }

p {
  color: #BA8F95;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

ul {
list-style-type: "\2055"; // thumbs up sign;
  line-height: 1.6;
  
}

li {
  color: #CAB6CD;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

a {
  color:#CAB6CD;
    text-decoration-line: underline;
   
}

a:hover {
  color:#BA8F95;
    text-decoration-line: underlie;
  text-decoration-style: wavy;
   
}

/* Code in text */
code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
